node_modules
.pnpm-store
.turbo
dist
build
coverage
.DS_Store
*.log
.idea
.vscode/*.code-workspace
*.tsbuildinfo
*.zip
!assets/crave/chunks/*.zip
!assets/minecart2/chunks/*.zip
tasks/castleknight3ddemo-img2threejs/**/*.png
tasks/castleknight3ddemo-img2threejs/**/*.jpg
tasks/castleknight3ddemo-img2threejs/**/*.jpeg
tasks/castleknight3ddemo-img2threejs/**/*.webp
